<div class="form-section" *ngIf="traits.displayGenericInfo">
    <div class="row">
        <div class="col-12 col-sm">
            <div class="form-group">
                <label>{{ 'form.createdBy' | i18next }}</label>
                <input class="form-control-plaintext" [value]="state.createdBy">
            </div>
        </div>
        <div class="col-12 col-sm">
            <div class="form-group">
                <label>{{ 'form.createdOn' | i18next }}</label>
                <input class="form-control-plaintext" [value]="state.createdOn">
            </div>
        </div>
    </div>
    <div class="row" *ngIf="traits.displayModifiedInfo">
        <div class="col-12 col-sm">
            <div class="form-group">
                <label>{{ 'form.modifiedBy' | i18next }}</label>
                <input class="form-control-plaintext" [value]="state.modifiedBy">
            </div>
        </div>
        <div class="col-12 col-sm">
            <div class="form-group">
                <label>{{ 'form.modifiedOn' | i18next }}</label>
                <input class="form-control-plaintext" [value]="state.modifiedOn">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group mb-0">
                <label>{{ 'form.status' | i18next }}</label>
                <input class="form-control-plaintext" [value]="'statuses.'+state.status | i18next">
            </div>
        </div>
    </div>
</div>
