<ng-container [formGroup]="controlContainer.control">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="form-label">{{ 'saleTypeInfo.saleType' | i18next }}</label>
                <div class="radio-valign">
                    <radio-button name="saleType" class="mr-3" formControlName="saleType" checkedValue="Own">
                        {{ 'saleTypeInfo.own' | i18next }}
                    </radio-button>
                    <radio-button name="saleType" formControlName="saleType" checkedValue="Subagent">
                        {{ 'saleTypeInfo.subagent' | i18next }}
                    </radio-button>
                </div>
                <validation-error class="form-validation" [for]="controlContainer.control.get('saleType')"></validation-error>
            </div>
        </div>
    </div>

    <div class="form-section" *ngIf="displaySubagentFields">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">{{ 'saleTypeInfo.subagentTin' | i18next }}</label>
                    <input maxlength="12" appendValidationError class="form-control" noSpaces onlyDigits formControlName="subagentTin" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">{{ 'saleTypeInfo.lawForm' | i18next }}</label>
                    <input maxlength="128" appendValidationError class="form-control" formControlName="subagentOwnershipForm" readonly />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">{{ 'saleTypeInfo.subagentName' | i18next }}</label>
            <input maxlength="128" class="form-control" formControlName="subagentName" readonly />
        </div>
    </div>
</ng-container>