<div class="form-section mb-4" [formGroup]="formGroup">
    <p *ngIf="formGroup.enabled">{{ 'technicalContactSettings.technicalContactDescription' | i18next }}</p>

    <div class="row">
        <div class="col">
            <div class="form-group form-group-has-checkbox" *ngIf="(existingContactCanBeSelected | async)">
                <checkbox formControlName="isExistingContact">
                    {{ 'technicalContactSettings.useTheExistingContact' | i18next }}
                </checkbox>
            </div>
            <div *ngIf="formGroup.value.isExistingContact">
                <validation-error class="form-validation" [for]="formGroup.get('externalId')"></validation-error>
                <ng-container *ngIf="formGroup.get('externalId').valid">
                    <validation-error class="form-validation" [for]="formGroup.get('email')"></validation-error>
                    <validation-error class="form-validation" [for]="formGroup.get('firstName')"></validation-error>
                    <validation-error class="form-validation" [for]="formGroup.get('lastName')"></validation-error>
                    <validation-error class="form-validation" [for]="formGroup.get('middleName')"></validation-error>
                    <validation-error class="form-validation" [for]="formGroup.get('position')"></validation-error>
                    <validation-error class="form-validation" [for]="formGroup.get('sex')"></validation-error>
                    <validation-error class="form-validation" [for]="formGroup.get('phone')"></validation-error>
                    <validation-error class="form-validation" [for]="formGroup.get('phone.country')"></validation-error>
                    <validation-error class="form-validation" [for]="formGroup.get('phone.number')"></validation-error>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="form-block" *ngIf="!formGroup.value.isExistingContact || formGroup.disabled">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label class="form-label">{{ 'technicalContactSettings.person.lastName' | i18next }}
                    </label>
                    <input maxlength="128" appendValidationError class="form-control" noSpaces formControlName="lastName" />
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label class="form-label">{{ 'technicalContactSettings.person.firstName' | i18next }}</label>
                    <input maxlength="128" appendValidationError class="form-control" noSpaces formControlName="firstName">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label class="form-label">{{ 'technicalContactSettings.person.middleName' | i18next }}</label>
                    <input maxlength="128" appendValidationError class="form-control" noSpaces formControlName="middleName">
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label class="form-label">{{ 'technicalContactSettings.person.gender' | i18next }}</label>
                    <div>
                        <div class="radio-valign">
                            <radio-button name="sex" formControlName="sex" checkedValue="Male">
                                {{ 'technicalContactSettings.person.genderMale' | i18next }}
                            </radio-button>
                            <radio-button name="sex" appendValidationError formControlName="sex" checkedValue="Female">
                                {{ 'technicalContactSettings.person.genderFemale' | i18next }}
                            </radio-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="form-group">
                    <label class="form-label">{{ 'technicalContactSettings.person.position' | i18next }}
                    </label>
                    <input maxlength="128" appendValidationError class="form-control" formControlName="position">
                </div>
            </div>
            <div class="col-md-12 col-lg-6" formGroupName="phone">
                <div class="form-group">
                    <label class="form-label">{{ 'technicalContactSettings.person.phone' | i18next }}</label>
                    <input appendValidationError maxlength="16" style="margin-left: -1px;" onlyDigits class="form-control" formControlName="number"
                    />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">{{ 'technicalContactSettings.person.email' | i18next }}</label>
            <input maxlength="128" appendValidationError class="form-control" noSpaces toLower formControlName="email">
        </div>
    </div>
    <div class="form-group" *ngIf="formGroup.value.isExistingContact && formGroup.value.availableContacts.length === 0 && !formGroup.disabled">
        <span>{{ 'technicalContactSettings.contactsNotFound' | i18next }}</span>
    </div>

    <div class="form-group" *ngIf="formGroup.value.isExistingContact && formGroup.value.availableContacts.length > 0 && !formGroup.disabled">
        <div class="row">
            <div class="col-md-6" *ngFor="let c of formGroup.value.availableContacts;">
                <div class="form-group">
                    <div class="form-check">
                        <radio-button name="externalId" class="indicator-top" formControlName="externalId" [checkedValue]="c.externalId">
                            <b class="d-block mb-1">{{ c.lastName }} {{ c.firstName }}</b>
                            <div class="mb-1">{{ c.position }}</div>
                            <div class="mb-1">{{ c.phone?.country?.phoneCode }}{{ c.phone?.number }}</div>
                            <div>{{ c.email }}</div>
                        </radio-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>