validation-error {
    display: none;
    width: 100%;
}

.ng-dirty.ng-invalid {
    & ~ validation-error {
        display: block;
        & > .form-error {
            display: block;
        }
    }
}

form.ng-dirty.ng-invalid {
    & validation-error.form-validation {
        display: block;
        & > .form-error {
            display: block;

            &:last-child {
                margin-bottom: 1rem;
            }
        }
    }
}
